@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

    header {
        width: 100vw;
        background-color: #00454D;
        color: #f1f1f1;
        opacity: .9;
    }

    a:hover {
        color: #cc5b14;
    }

#title {
    font-size: 10px;
    font-family: 'Quicksand';
    text-align: center;
}


#teste2 {
    display: none;
}

@media (max-width: 1000px) and (max-height: 300px) {
    header {
        width: 10vw;
        height: 100vh;
        flex-direction: column;
    }

    #teste2 {
        display: block;
    }

    #teste {
        display: none;
    }
    
}

#menu {
    width: 30%;
    height: 90%;


    display: flex;
    justify-content: center;
    align-items: center;
}

#menu > img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    margin-right: 1px;
    cursor: pointer;
}

#title_container {

}

#title_container > h1 {
    font-size: 1rem;  
}

@media (max-width: 1000px) {
    html {
        font-size: 2rem;
    }
}

#title_container > h2 {
    font-size: 16px;
}


#links {
    width: 60%;
    height: 90%;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

#links_container {
    width: 50%;


    display: flex;
    align-items: center;
    justify-content: space-between;
}


#links_container > a {
    color: #F4A700;
    font-weight: bold;
    text-decoration: none;
}

#configuracao {
    width: 20%;
    height: 90%;
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#configuracao > img {
    margin-right: 20px;
    height: 50%;
    width: 50%;
    object-fit: cover;
    cursor: pointer;
}

#configuracao > img:nth-child(3) {
    border-radius: 50%;
}




.container-galeria{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 300px;
    padding: 5px;
    grid-gap: 5px;
}

.item-galeria{
    position: relative;
}

.item-galeria .img-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-galeria .title-galeria{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16pt;
    font-family: 'Quicksand';
    text-align: center;
}


.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}


@media(max-width:768px){
    .container-galeria{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 50vh;
    }

    .h-2{
        grid-row: span 1;
    }
    
    .w-2{
        grid-column: span 1;
    }
}
h1, p {
font-size: 12px;
font-family: 'Quicksand';

}

li {
font-size: 10px;
font-family: 'Quicksand';
text-align: justify;
align-items: auto;
justify-items: auto;
}

   